
.DS_Store
*.dpth
*.log
*.md5
*.aux
*.gz
*.toc
*.out
*.auxlock
rules-*-figure[0-9].pdf
rules-*-figure[0-9][0-9].pdf
rules-*.pdf
rules/project.pdf
*.synctex(busy)
rules/project.pdf
*.fls
rules/Worksheet.worksheet
rules/project.pdf
rules/project.pdf
*.fdb_latexmk
*.xdv
*.changetags
rules-old/project.pdf
